body {
  font-family: Arial;
  margin: 0;
}

header {
  background: navy;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

main {
  padding: 20px;
}
